#POSTGRES DB
POSTGRES_DB=database_name

POSTGRES_USER=postgres_user

POSTGRES_PASSWORD=postgres_password

POSTGRES_PORT=5432

#MONGO DB
MONGO_INITDB_ROOT_USERNAME=admin_username

MONGO_INITDB_ROOT_PASSWORD=admin_password

MONGO_DATABASE=database_name

MONGO_PORT=27017